@use '../utils/variables' as *;
.footer {
  background-color: #d0000b;
  padding: 1.5rem;
  font-family: $urbanist-font;
  &__contact, &__location {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    gap: 1rem;
    margin-top: 2rem;
    &__highlight{
      color: white;
      font-weight: bold;
    }
  }
  &__list {
    display: flex;
    justify-content: space-around;

    &__item {
      color: white;
      display: flex;
      align-items: center;
      font-weight: bold;
      gap: 0.5rem;
      &__link {
        color: white;
      }
    }
  }
}